.moviesCardList {
  display: flex;
  flex-direction: column;
}

.moviesCardList__no-found {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: black;
}

.moviesCardList__film-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  row-gap: 38px;
  column-gap: 20px;
}

.moviesCardList__footer {
  height: 140px;
  display: flex;
  justify-content: center;
}

.moviesCardList__footer_with_button {
  height: 160px;
  margin-bottom: 7px;
}

.moviesCardList__button-more {
  margin-top: 50px;
  width: 320px;
  height: 36px;
  align-self: center;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.moviesCardList__button-more:hover {
  opacity: 0.8;
}

@media (min-width: 1281px) {
  .moviesCardList__film-list {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 1280px) {
  .moviesCardList {
    padding-top: 70px;
    padding-bottom: 9px;
  }
  .moviesCardList__film-list {
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  }
}

@media (max-width: 768px) {
  .moviesCardList {
    padding-left: 30px;
    padding-right: 30px;
  }

  .moviesCardList__film-list {
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media (max-width: 655px) {
  .moviesCardList__film-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 535px) {
  .moviesCardList {
    padding-top: 38px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
  }

  .moviesCardList__film-list {
    row-gap: 33px;
  }
}