.button {
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.button:hover {
  opacity: 0.6;
}

.button:disabled {
  opacity: 0.2;
  cursor: default;
}

.button_placed_auth-container {
	padding: 8px 20px;
	background-color: #3DDC84;
	color: #000000;
	border-radius: 3px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
}

.button_placed_profile-container {
	margin-right: 3px;
	width: 26px;
	height: 26px;
	background-image: url('../../images/header/button_profile.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F9F9F9;
	border-radius: 50px;
}

.button_placed_search-bar {
	min-width: 44px;
	height: 44px;
	background: #4285F4;
	border: none;
	border-radius: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
}

.button_placed_card-list {
  width: 320px;
  height: 36px;
  align-self: center;
  background-color: white;
  border: solid 1px #E8E8E8;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: black;
}

.button_placed_auth-form {
  width: 100%;
  height: 45px;
  margin-top: 156px;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.button_placed_profile {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: black;
  align-self: center;
  background-color: white;
  border: none;
  cursor: pointer;
}

.button_type_like {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 21px;
  border: none;
  border-radius: 36px;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button_type_like-active {
  background-image: url('../../images/card/save3.svg');
  width: 21px;
  height: 21px;
}

.button_type_like-delete {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 14px;
  background: url('../../images/card/delete.svg') center no-repeat;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button_placed_auth-form {
    margin-top: 70px;
  }
}

@media (max-width: 535px) {
  .button_placed_auth-container  {
    padding: 5px 12px;
    font-size: 10px;
  }

  .button_placed_search-bar {
    min-width: 80px;
    height: 44px;
  }

  .button_placed_card-list {
    width: 240px;
  }

  .button_placed_auth-form {
    font-size: 12px;
    line-height: 15px;
  }
}